*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    position: relative;
    background-color: gray;
    border: 1px solid black;
    min-height: 100vh;
    padding-bottom: 120px ;
}

 /*HEADER*/
header {
    width: 100%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    
}


.inicio a{
    text-decoration: none;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;

}

.inicio a:hover {
    color: red;
}

/*nav header*/

.nav-header{
    display: flex;
    gap: 30px;
}
.nav-header a{
    text-decoration: none;
    color: white;
    font-family: "Press Start 2P", system-ui; 
    font-size: 10px;
    font-weight: bold;

}
.nav-header a:hover {
    color: red;
}

/*MAIN INDEX*/

main {
    background-color: gray;
    justify-content: center;
    min-height: 100%;
}

h1{
    color: yellow;
    font-size: 50px;
    font-family: "Michroma", sans-serif;
    text-align: center;
}

p{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: aliceblue;
}

.escenarios-iconicos{
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20;
    font-family: cursive;
}

.mustafar{

    margin: auto;
    width: 800px;
    height: 400;
}

/*FOOTER*/

footer {
    background-color: rgb(7, 6, 6);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.fines{
  flex: 1;
  min-width: 200px;
}
.fines h2{
  color: rgb(238, 255, 6);
  font-family: initial;
  font-size: 20px;
  margin: 0;
    
}

.redes{
    display: flex;
    margin-left: 43%;
}
#redes ul{
  /*
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
*/
  list-style: none;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
    }

#redes li{
  display: flex;
  align-items: center;
  gap: 5px;
}

#redes li a{
    text-decoration: none;
    color: white;
    font-family: "Press Start 2P", system-ui; 
    font-size: 10px;
}

#redes li img {
    width: 20px;
    height: 20px;
}

.derechos {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: #ecfd00;
}

.derechos h3 {
   /* font-size: 12px;
    font-family: "Savate", sans-serif;
    font-style: normal;
    text-align: center;
   */  
  margin: 0;
  font-weight: normal;

}

/*PELICULAS*/

.peliculas{
    color: yellow;
    text-align: left;
    font-family: "Michroma", sans-serif;
}

.intro-pelis{
    text-align: center;
    font-size: 20px;
    font-family: "BenchNine", sans-serif;
}

.orden-Pelis{
    color: yellow;
    text-align: left;
    font-family: "Michroma", sans-serif;

}

/*orden cronologico pelis*/

/*EPISODIO1*/
.episodio1{
  display: flex;
  align-items: center;
}

.ep1{
   margin-top: 5px;
   margin-right: 20px;
   width: 300px;
   height: 300px;
}

.tit-ep1{
    font-size: 15px;
    font-family: "Michroma", sans-serif;
}

/*EPISODIO2*/

.episodio2{
  display: flex;
  align-items: center;
}

.ep2{
   margin-top: 5px;
   margin-right: 20px;
   width: 293px;
   height: 293px;
}

.tit-ep2{
    font-size: 15px;
    font-family: "Michroma", sans-serif;
}

/*EPISODIO3*/

.episodio3{
  display: flex;
  align-items: center;
}

.ep3{
   margin-top: 5px;
   margin-right: 20px;
   width: 220px;
}

.tit-ep3{
    font-size: 15px;
    font-family: "Michroma", sans-serif;
}

/*PERSONAJES*/

.personajes{
    color: yellow;
    text-align: left;
    font-family: "Michroma", sans-serif;
}

.Personajes1{
    align-items: center;
    display: flex;
    justify-content: center;
}

.container{
  padding: 20px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px,1fr));
    gap: 1rem;
}

.card{
position: relative;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card img{
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;

}

.text{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  box-sizing: border-box;
}

/*JUEGOS*/

.juegos{
    color: yellow;
    text-align: left;
    font-family: "Michroma", sans-serif;
}

/*Outlaws*/

.outlaws{
  display: flex;
  align-items: center;
}

.outlawsjpg{
   margin-top: 5px;
   margin-right: 20px;
   width: 200px;
   height: 200px;   
}

.outlwasdesc{
    font-size: 15px;
}

/*Survivor*/

.survivor{
  display: flex;
  align-items: center;
}

.survivorjpg{
   margin-top: 5px;
   margin-right: 20px;
   width: 298px;
   height: 200px;   
}

.survivordesc{
    font-size: 15px;
}

/* Lego star wars skywalker saga*/

.skywalker-saga{
  display: flex;
  align-items: center;
}

.skywalkersagajpg{
   margin-top: 5px;
   margin-right: 20px;
   width: 200px;
   height: 200px; 
}

.skywalkersagadesc{
  font-size: 15px;  
}

/*CONTACTO*/

.contacto{
  color: yellow;
  text-align: left;
  font-family: "Michroma", sans-serif;
}

.consulta{
  text-align: left;
  font-family: "Michroma", sans-serif;
}

.nombre{
  margin-top: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
}
#nombre{
  width: 500;
  align-items: center;
  align-items: center;
  justify-items: center;
}

.mail{
  margin-top: 20px;
  text-align: center;
}

#mail{
  width: 500;
  align-items: center;
}

.mensaje{
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 32.5%;
}


#mensaje{
  width: 500;
  height: 250px;
}

.boton{
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  text-align: center;
  width: 300px;
  height: 50;
margin-left: 42%;
}

@media (max-width:480px){ /*Celulares*/
header{
  flex-direction: column;
  align-items: flex-start;
}

.nav-header{
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10PX;
  margin-top:  10px;
  align-items: center;
}

.inicio {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10PX;
  margin-top:  10px;
  align-items: center;
}

.footer {
    flex-direction: column;
    align-items: flex-start;
  }

  #redes ul {
    flex-direction: column;
    align-items: flex-start;
  }

  #redes li {
    margin-bottom: 5px;
  }

  .redes {
    width: 100%;
  }

  .derechos {
    text-align: center;
  }
}

@media (max-width:1024px){ /*Tablets*/
header{
  flex-direction: column;
  align-items: flex-start;
}

.nav-header{
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10PX;
  margin-top:  10px;
  align-items: center;
}

.inicio {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 10PX;
  margin-top:  10px;
  align-items: center;
}

.footer {
    flex-direction: column;
    align-items: flex-start;
  }

  #redes ul {
    flex-direction: column;
    align-items: flex-start;
  }

  #redes li {
    margin-bottom: 5px;
  }

  .redes {
    width: 100%;
  }

  .derechos {
    text-align: center;
  }
}